


<div class="col d-flex justify-content-center" style="margin-top:60px">
    
    <div class="card w-25">
        
        <div class="card-header text-center">
        ICU Unit Setup
        </div>
        <div class="card-body">

        <form 
        (ngSubmit)="onSubmit(setupDetailsForm.value);submitBtn.disabled = true" 
        [formGroup]="setupDetailsForm">
            
            <div class="form-group">
                <label for="floorNo">Floor Number</label>
                <input type="number" min ="0" class="form-control" id="floorNo"  
                formControlName="floor"
                placeholder="0">
                <div *ngIf="floor.invalid && (floor.dirty || floor.touched)">
                    <div *ngIf="floor.errors.required">
                        <span class="text-danger">Floor Number Required</span>
                    </div>    
                </div>
            </div>
            

            <div class="form-group">
                <label for="NoOfBeds">Number Of Beds</label>
                <input type="text" min="0" class="form-control" 
                    id="NoOfBed"  
                    formControlName="noOfBed"
                    placeholder="0">
                <div *ngIf="noOfBed.invalid && (noOfBed.dirty || noOfBed.touched)">
                    <div *ngIf="noOfBed.errors.required">
                        <span class="text-danger">Number of Beds Required</span>
                    </div>    
                </div>   
            </div>

            <div class="form-group">
                <label for="layoutSelection">Select Layout</label>
                <select class="custom-select mr-sm-2" 
                id="layout" formControlName="layout">
                    <option value="">Choose...</option>
                    <option *ngFor="let layout of layoutList">{{layout}}</option>              
                </select>
                <div *ngIf="layout.invalid && (layout.dirty || layout.touched)">
                    <div *ngIf="layout.errors.required">
                        <span class="text-danger">layout Required</span>
                    </div>    
                </div>
            
            </div>
            
            <div class="text-center"> 
                <button #submitBtn type="submit" class="btn btn-primary"
                [disabled]="!setupDetailsForm.valid"
                id="setupSubmitButton" >Submit</button>
            </div> 
            
        </form>


        </div>
    </div>
</div>
