
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class = "card shadow-sm p-3 mb-5 bg-white rounded"> 
                <h4 class="card-header text-center shadow-sm p-3 mb-5 bg-white rounded">Patient Details</h4>
                <div class="card-body " >
                    <div >
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>Patient ID</label>
                                <a class="form-control" readonly>{{patientData.patientID}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>Name</label>
                                <a class="form-control" readonly>{{patientData.name}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>Date of Birth</label>
                                <a class="form-control" readonly>{{patientData.dateOfBirth}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>Mobile Number</label>
                                <a class="form-control" readonly>{{patientData.mobileNumber}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>Bed ID</label>
                                <a class="form-control" readonly>{{patientData.bedID}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>SPO2 Level</label>
                                <a class="form-control" readonly>{{patientData.spo2}}</a>
                            </div>
                        </div><br>
                        <div class ="row">
                            <div class=" col-md-10">
                                 <label>BPM Level</label>
                                <a class="form-control" readonly>{{patientData.bpm}}</a>
                            </div>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>