
<div class="container">
    <table class="table table-bordered table-striped" style="align-content: right;margin-top:35px" >
        <thead>
            <tr class="bg-dark" style="color: white">
                <th>Bed Id</th>
                <th>Department</th>
                
                <th>Occupancy Status</th>
                <th >Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let bedData of bedDataList ">
                <td >{{bedData.bedID}}</td>
                <td>{{bedData.department}}</td>
                
                <td>{{bedData.occupancyStatus}}</td>
                <td>
                <div class="row" style="margin-left: 5px">
                    <div>
                        <button type="button" class="btn btn-sm btn-primary  dropdown-toggle" data-toggle="dropdown" style="margin-right: 5px" [disabled]="disableManagePatientDetailsButtonWhenOccupancyStatusisVacant(bedData.occupancyStatus)">
                        Manage Patient Details
                        </button>
                        <div class="dropdown-menu">
                            <a (click)="deletePatientEntry(bedData.bedID)"  class="dropdown-item"  ><i class="fas fa-trash"></i>Delete Patient</a>
                            <a (click)="updatePatientDetails(bedData.bedID)" class="dropdown-item"  ><i class="fas fa-edit"></i>Update Patient Details</a>
                            <a (click)="viewPatientDetails(bedData.bedID)" class="dropdown-item" ><i class="fas fa-eye"></i>View patient Details</a>
                        </div>
                    </div>
                      <a class="btn btn-sm btn-success" style="margin-right: 5px" (click)="updateBedDetails(bedData.bedID)">Update Bed Details</a>
                      <button class="btn btn-sm btn-success" (click)="addPatient(bedData.bedID)"  style="margin-right: 5px" [disabled]="!(disableManagePatientDetailsButtonWhenOccupancyStatusisVacant(bedData.occupancyStatus))">Add Patient</button> 
                </div>
                </td>

            </tr>
        <tbody>
    </table>
</div>
<router-outlet></router-outlet>
<!--<app-bed-layout-display></app-bed-layout-display>-->