<p>bed-layout-display works!</p>

<div class="row" style="margin-left:10px">
    <div *ngFor="let i of Arr(cnum).fill(1)" >
        <input type = "checkbox" style="margin-left:5px">
    </div>
</div>
<div class="column" style="margin-left:10px">
    <div *ngFor="let i of array(rnum).fill(1)" >
        <input type = "checkbox">
    </div>
</div>

<h6>opposite side bed layout</h6>

<div class="row" style="margin-left:10px"> 
    <div class="column" style="margin-left:10px">
        <div *ngFor="let i of array(rnum).fill(1)" >
            <input type = "checkbox">
        </div>
    </div>

    <div class="column" style="margin-left:10px">
        <div *ngFor="let i of array(rnum).fill(1)" >
            <input type = "checkbox">
        </div>
    </div>
</div>

